
body {
background-color: gray;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

button {    
    background-color: rgb(15, 199, 255); 
    border-radius: 100px; 
    border: 7px solid rgb(3, 89, 128); 
    color: white; 
    width: 150px; 
    height: 150px; 
    box-sizing: border-box;
    animation: buttonAnimation 1s infinite;
    font-family: sans-serif;

    text-align: center; 
    margin-top: 20px;  
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 120px;
    font-weight: 900;
    font-size: 60px; 
}

@keyframes buttonAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}